* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.tranparent-header,
html {
    position: relative
}

.navbar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    float: left;
    padding: 0 0 0 150px
}

.navbar-brand img {
    height: 55px;
    margin-top: 12px;
    display: block
}

#cd-top-nav,
body,
html {
    height: 100%
}

#cd-top-nav {
    position: absolute;
    top: 0;
    right: 28px;
    padding: 10px 0;
}

#cd-top-nav ul {
    margin: 3px 10px 0 0;
}

#cd-top-nav li {
    display: inline-block;
    padding: .5em;
    margin-right: 15px
}

#cd-top-nav a {
    display: inline-block;
    text-transform: initial;
    color: #fff;
    font-weight: 500;
    vertical-align: baseline;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

.outer {
    background-image: url("./images/sb_student_story.jpg");
    background-size: cover;
    height: 775px;
    width: 100%
}

.details {
    position: absolute;
    top: 12em;
    left: 11em;
    color: #fff;
}

.name {
    font-size: 51px;
    color: #fff;
}

.extra-stuff {
    padding: 40px 0 30px;
    background: #efeff6;
    border-bottom: 1px solid #eee;
}

.constant-padding {
    padding: .8em 11em;
}

.extra-stuff p {
    font-size: 45px;
    color: #666;
    line-height: 100%;
    font-style: italic;
    font-weight: 500;
}

.subsidiaries {
    background: #42bea2;
    padding: 30px 40px;
    color: #fff;
}

.footer {
    background: #48485e;
    padding: 50px 10px;
}

.footer .links-row {
    width: 70%;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
}

.footer .links-row .links-detail {
    width: 16%;
    margin: 0 60px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 14px;
}

.footer .footer-header {
    color: #fff;
    height: 35px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.footer .footer-header .footer-text {
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 11px;
}

.footer .links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.copyright {
    width: 100%;
    background: #3b3b4e;
    text-shadow: none;
    min-height: 20px;
    color: #ccc;
    margin: 0;
    text-align: center;
    font-size: 12px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    display: block;
}

.container {
    padding: 0 10px;
    margin: 0 auto;
}

.follow-us {
    position: relative;
    display: inline-block;
}

.personal-details ul {
    display: inline-block;
    font-size: 23px;
}

.personal-details ul.keys {
    font-style: italic;
}

.personal-details ul li {
    padding: 10px 0px 6px 0px;
    min-width: 10em;
    list-style: none;
}

.paragraph-1 {
    padding: .625em 1.825em;
    position: relative;
}

.paragraph-1 img{
	height: 301px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.paragraph-2 {
	margin-right: 200px;
}


.paragraph-2 img{
	width: 100%
}



.inner-content {
    display: inline-block;
    width: 57%;
    vertical-align: top;
    padding-right: 10px;
}

.full-card {
    position: relative;
    padding: 0px 0px 0px 80px;
}

.full-card section {
    padding: 32px 86px;
    color: #515155;
}

.full-card section p {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 36px;
}

.full-card section h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 14px 0px;
}

h1 {
    font-size: 85px;
}

.sub-head {
    /*font-size: 1.6525em;*/
    
    font-size: 42px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid yellow;*/
    
    font-weight: lighter;
}

.colorstrip {
    height: 1px;
    border: 0.5px;
    border-style: solid;
    border-color: #ffff00;
    background-color: #ffff00;
    width: 50px;
}

.image-caption {
    font-size: 30px;
    font-style: italic;
}

.caption-container{
	width: 400px;
}
