
.tranparent-header,html {
    position: relative
}

.tranparent-header header {
    background-color: transparent!important;
    position: absolute
}

.tranparent-header header a.navbar-brand {
    background: url(../../images/grofers_white_logo.png) center/cover no-repeat;
    width: 128px;
    height: 32px;
    margin-left: 10px;
    margin-top: 12px
}

.tranparent-header header #cd-top-nav a {
    color: #fff!important
}

.tranparent-header header #cd-menu-trigger .cd-menu-icon {
    background-color: #fff!important
}

.tranparent-header header #cd-menu-trigger {
    background-color: transparent!important
}


.navbar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:focus,.navbar-brand:hover {
    text-decoration: none
}

.navbar-brand>img {
    display: block
}

.navbar-brand {
    float: left;
    padding: 0 0 0 10px
}

.navbar-brand img {
    height: 32px;
    margin-top: 12px;
}



#cd-top-nav,body,html {
    height: 100%
}

#cd-top-nav {
    position: absolute;
}

#cd-top-nav li {
    display: inline-block;
    padding: .5em
}

#cd-top-nav a {
    display: inline-block;
    text-transform: initial
}

#cd-top-nav a.current {
    background-color: #242e30
}


#cd-top-nav ul {
    margin: 3px 10px 0 0;
}

#cd-top-nav li {
    margin-right: 15px
}

#cd-top-nav a {
    color: #666;
    font-weight: 500;
    vertical-align: baseline;
    font-size: 14px
}

.copyright,.footer-border i {
    vertical-align: 0
}

nav#cd-top-nav li:after {
    height: 2px;
    width: 0;
    background: 0 0
}

nav#cd-top-nav li:hover:after {
    width: 100%;
    background: #e96125
}

#cd-top-nav {
    top: 0;
    right: 28px;
    padding: 10px 0;
}


body{
  margin:0px;
  position : relative;
}

.main {

}

.details{
  position: absolute;
  top: 8em;
  left: 4em;
}

.name {
  font-size:51px;
  color: #fff;